@font-face {
    font-family: 'limelight';
    src: url('fonts/limelight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'limelight', sans-serif;
    background-color: #f2e5d0;
    color: #4e3220;
    overflow-x: hidden;
}

nav{
    height: 4rem;
    width: 100%;
    
    background-color: #e6cba2;
    font-size: 16pt;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}

.navButton{
    height: 2.5rem;
    width: 100%;

    border-right: 2px solid #4e3220;

    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10rem;
}

.searchDiv{
    height: 4rem;
    width: 23rem;

    display: flex;
    align-items: center;

    background-color: #e6cba2;
    border: 2px solid #4e3220;
    border-radius: 50px;
}

.search{
    height: 100%;
    width: 100%;

    background-color: #e6cba2;

    border: 0;
    outline: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.headerButton{
    height: 4rem;
    width: 12rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #e6cba2;
    border: 2px solid #4e3220;
    border-radius: 50px;
    font-size: 14pt;

    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.kitaplarOptions{
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

input, select{
    height: 2.5rem;
    width: 16rem;
}

.kitaplarDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 6rem;
}

.kitapDiv1{
    height: calc(28rem + 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.kitapDiv2 {
    height: 28rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e6cba2;
    border-left: 1.5rem #4e3220 solid;
    border-radius: 10px 10px 10px 0;
    box-shadow: inset 200px 0px 28px -175px rgba(78, 50, 32, 0.40),
            0px 0px 20px 5px rgba(78, 50, 32, 0.40);

}

@media (min-width: 768px) {.kitapDiv1 {width: calc((100% - 2rem) / 2);}}
@media (min-width: 1024px) {.kitapDiv1 {width: calc((100% - 2rem * 2) / 3);}}
@media (min-width: 1366px) {.kitapDiv1 {width: calc((100% - 2rem * 3) / 4);}}

.kitapImg{
    height: auto;
    width: 11rem;
    aspect-ratio: 2 / 3;
}

.kitapText{
    font-size: 20pt;
    margin-bottom: 8px;
}

.yayinText{
    font-size: 12pt;
    margin: 8px 0px;
}

.fiyatSepet{
    font-size: 20pt;
}

main{
    padding-top: 164px;
}