@font-face {
    font-family: 'ciyaktavuk';
    src: url('ciyaktavuk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'ciyaktavuk', sans-serif;
    background-color: #fde8c3;
    color: #4e3220;
    overflow-x: hidden;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4e3220;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.navbar-button{
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44f05;
    border: 3px solid #221408;
    box-shadow: inset 0px -10px 2px 0px #d23606;
    color: white;
    font-size: x-large;
    border-radius: 100px;
    text-decoration: none;
}

.save-input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-input{
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
}

.save-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

table{
    background-color: white;
}

th{
    text-align: center;
}
td{
    text-align: center;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.urunler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
}

.menu-urun{
    height: 600px;
    width: 450px;
    background-color: #d23606;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-img{
    height: 320px;
    width: 320px;
    position: absolute;
    top: -140px;
}

.menu-tasarim{
    height: 370px;
    width: 300px;
    background-color:white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.urun-isim{
    font-size: xx-large;
}

.urun-fiyat{
    font-size: xx-large;
    margin-top: 40px;
}

@media (min-width: 769px) {.kitapDiv1 {width: calc((100% - 2rem) / 2);}}
@media (min-width: 1025px) {.kitapDiv1 {width: calc((100% - 2rem * 2) / 3);}}
@media (min-width: 1370px) {.kitapDiv1 {width: calc((100% - 2rem * 3) / 4);}}